#ad-unit {
    width: 160px;
    height: 600px;
}

#ad-header {
    width: 100%;
    height: 40px;
    background: #ccc;
    border-bottom: 1px solid #0ab;
}

#ad-body {
    width: 100%;
    height: 560px;
}
